root=true
[*]
# Dotnet
dotnet_naming_symbols.public_fields_symbols.applicable_accessibilities=public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.public_fields_symbols.applicable_kinds=field
dotnet_naming_style.lower_camel_case_style.capitalization=camel_case
dotnet_naming_rule.public_fields_rule.import_to_resharper=True
dotnet_naming_rule.public_fields_rule.resharper_description=Instance fields (not private)
dotnet_naming_rule.public_fields_rule.resharper_guid=53eecf85-d821-40e8-ac97-fdb734542b84
dotnet_naming_rule.public_fields_rule.severity=warning
dotnet_naming_rule.public_fields_rule.style=lower_camel_case_style
dotnet_naming_rule.public_fields_rule.symbols=public_fields_symbols


# ReSharper properties
resharper_check_namespace_highlighting = none
resharper_csharp_brace_style=end_of_line
resharper_csharp_blank_lines_around_invocable=1
resharper_blank_lines_around_invocable=1
resharper_blank_lines_inside_namespace=0
resharper_blank_lines_inside_type=1
resharper_csharp_blank_lines_around_field=0
resharper_csharp_empty_block_style=together
resharper_csharp_keep_blank_lines_in_code=1
resharper_keep_existing_primary_constructor_declaration_parens_arrangement=false
resharper_place_accessorholder_attribute_on_same_line=false
resharper_place_accessor_attribute_on_same_line=false
resharper_place_field_attribute_on_same_line=false
resharper_wrap_before_primary_constructor_declaration_lpar=false
resharper_wrap_before_primary_constructor_declaration_rpar=true
resharper_wrap_for_stmt_header_style=wrap_if_long

# Microsoft .NET properties
csharp_new_line_before_catch=false
csharp_new_line_before_else=false
csharp_new_line_before_finally=false
